/* building the banner style */

.banner {
  width: 86%;
  height: 223px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 43px;
  z-index: 0;

  @include mob {
    width: 95%;
    height: 111px;
    margin-top: 22px;
  }

  &::after {
    content: "";
    width: 86%;
    height: 223px;
    border-radius: 25px;
    display: flex;
    background: $color-black;
    mix-blend-mode: darken;
    position: absolute;
    opacity: 0.3;
    z-index: 2;

    @include tab {
      width: 84%;
    }

    @include mob {
      width: 92%;
      height: 111px;
      border-radius: 10px;
    }
  }

  &__img {
    width: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 25px;

    @include mob {
      border-radius: 10px;
    }
  }

  &__title {
    font-size: 48px;
    padding: 0px 20px;
    color: $color-white;
    align-self: center;
    position: absolute;
    z-index: 4;

    @include tab {
      font-size: 36px;
    }

    @include mob {
      font-size: 24px;
    }
  }
}

/* building the gallery style */

.gallery {
  width: 86%;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  padding: 26px 0px;
  margin-top: 43px;
  @include bac($color-white);

  @include mob {
    width: 100%;
    background-color: $color-white;
    padding: 0px;
    margin-top: 12px;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    color: $color-primary;
    padding-left: 20px;
  }

  &__thumbs {
    width: 27%;
    height: 340px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px;
    z-index: 0;

    @include tab {
      width: 40%;
      height: 300px;
    }

    @include mob {
      width: 95%;
      height: 255px;
      margin: 10px 0px;
    }

    &::after {
      content: "";
      width: 23%;
      height: 340px;
      border-radius: 10px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      position: absolute;
      z-index: 2;

      @include tab {
        width: 34%;
        height: 300px;
      }

      @include mob {
        width: 93%;
        height: 255px;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    &__housingName {
      width: 200px;
      display: inline;
      flex-wrap: wrap;
      font-size: 18px;
      color: $color-white;
      padding-left: 20px;
      position: absolute;
      z-index: 4;
    }
  }
}
